[Desktop Entry]
Name=ChairLift
Exec=chairlift-wrapper
Icon=io.projectbluefin.chairlift
Terminal=false
Type=Application
Categories=System;GTK;
StartupNotify=true
NoDisplay=false
